@use 'sass:color';
@use '../globals.scss' as *;

.chatMain {
  flex: 1;
  background-color: $main-bg;
  display: flex;
  flex-direction: column;
  width: calc(90vw - 350px);
  max-width: 1200px - 350px;
}

.mainHeader {
  padding: 16px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
}

.toggleButton {
  @extend %base-button;
  display: none; // Initially hidden, shown in media query
  margin-right: 4px;
}


.chatMessages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  > :last-child {
    height: 32px;
  }
}


.chatInputArea {
  display: flex;
  padding: 16px;
  border-top: 1px solid $border-color;
  max-height: 6em;

  textarea {
    flex: 1;
    border: none;
    background-color: $input-bg;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 15px;
    outline: none;
    resize: none;
    height: 20px;
    min-height: 20px;
    max-height: 5em;
    scrollbar-width: thin;
    white-space: pre;
    overflow-wrap: normal;
    line-height: 100%;

    &::placeholder {
      color: $secondary-text;
    }
  }

  button {
    font-size: 14px;
    border: none;
    background-color: $accent-button-color;
    color: white;
    border-radius: 20px;
    padding: 8px 20px;
    margin-left: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
      background-color: color.adjust($color: $accent-button-color, $lightness: -5%);
    }
  }
}

@media (max-width: 768px) {
  .toggleButton {
    display: block;
  }

  .chatMain {
    transition: transform 0.3s ease-in-out; // 添加过渡效果
    min-width: 100%;
    transform: translateX(0);
  }
  
  .visible {
      transform: translateX(-100%);
  }
}
