@use '../globals.scss' as *;

.messageContainer {
  display: flex;
  margin-bottom: 10px;
}

.message {
  width: fit-content;
  max-width: 90%;
  padding: 10px 15px;
  border-radius: 18px;
  font-size: 15px;
  font-family: monospace;
  overflow-x: auto;
  scrollbar-width: thin;
}

.messageContent {
  word-wrap: break-word;
  white-space: pre;
}

.incoming {
  background-color: $incoming-bubble;
  border-bottom-left-radius: 4px;
}

.outgoing {
  background-color: $outgoing-bubble;
  border-bottom-right-radius: 4px;
  margin-left: auto;
}
