@use 'sass:color';
@use '../globals.scss' as globals;

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.menu {
  position: absolute;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid globals.$border-color;
  color: globals.$text-color;
  animation: scaleIn 0.2s ease-out;

  ul {
    list-style: none;
    padding: 5px 0;
    margin: 0;
    position: relative;
  }

  li {
    button {
      width: 100%;
      padding: 10px 20px;
      border: none;
      background: none;
      text-align: left;
      cursor: pointer;

      &:hover {
        background-color: color.adjust($color: white, $lightness: -5%);
      }
    }
  }
}
