@use '../globals.scss' as globals;

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.prompt {
  background-color: globals.$background-color;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
}

.title {
  margin-top: 0;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid globals.$border-color;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace, globals.$font-family;
  background-color: transparent;
}

.textarea {
  min-height: 100px;
  min-width: 100%;
  //resize: vertical;
}

.buttons {
  margin-top: 20px;
  text-align: right;
}

%button {
  border: 1px solid globals.$border-color;
  border-radius: 1em;
  line-height: 100%;
  margin-left: 10px;
  padding: 4px 8px;
}

.buttonCancel {
  @extend %button;
}

.buttonOK {
  @extend %button;
}
