@use 'sass:color';
@use '../globals.scss' as globals;

.overlay {
  @extend %base-overlay;
}

.prompt {
  background-color: globals.$background-color;
  padding: 20px;
  border-radius: 8px;
  min-width: 300px;
  animation: scaleIn 0.2s ease-out;
  margin: auto;
}

.title {
  margin-top: 0;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid globals.$border-color;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: monospace, globals.$font-family;
  background-color: transparent;
}

.textarea {
  min-height: 100px;
  min-width: 100%;
  //resize: vertical;
}

.buttons {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;

}

.buttonCancel {
  @extend %base-button-secondary;
}

.buttonOK {
  @extend %base-button-primary;
}
