@use 'sass:color';
@use '../globals.scss' as *; // Import variables

.chatSidebar {
  flex: 0 0 350px;
  background-color: $sidebar-bg;
  border-right: 1px solid $border-color;
  display: flex;
  flex-direction: column;
}

.sidebarHeader {
  padding: 16px;
  border-bottom: 1px solid $border-color;
  display: flex;
  align-items: center;
  gap: 4px;
}

.contactList {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
}

.addButton {
  @extend %base-button;
}

.toggleButton {
  @extend %base-button;
  display: none;
}


@media (max-width: 768px) {
  .toggleButton {
     display: block;
  }

  .chatSidebar {
    border-right: none;
    min-width: 100%;
    // The hidden logic is now handled by class toggling in the component
    // So we don't need transform rules here.
  }
}
